{% extends "layout.html" %}
{% block title %}
Coffee's Tweet
{% endblock %}

{% block content %}
<h1 class="text-center mt-4">Welcome to Coffee With Chess</h1>

<h2>
    {% if form.instance.pk %} 
    Edit Tweet 
    {% else %} 
    Create Tweet
    {% endif %}
</h2>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{form.as_p}}
    <button class="btn btn-warning" type="submit">POST</button>
    <a href="{% url 'tweet_list' %}" class="btn btn-light"> Back</a>
</form>

{% endblock %}